 nav.menue-nav ul li.btn{ 

  list-style-type: none;
  display: inline;
  width: 50px;
  padding: 10px;
  position: relative;
  left: 0%

}

nav.menue-nav ul li.btn a{ 
 
  color:#F0F3F4;
  background-color:#A569BD;
  text-decoration: none;

}


h1{ 

  color: red;

}

h2{

  color: blue;

}

h3{

  color: green;

}

h4{

  color: #E73E01;

}

body{

background-color: #088A85;

}

#carte{

width: 800px;

margin:0 auto;

background-color: #FDF1B8;

text-align: center;

align-content: center;

}

#contenu{

	min-height: 100%;
	position: relative;

}

header{

  background-image: url(https://hdfondsdecran.com/image/201609/1915/plage-seychelles-palmier-paradis.jpg);
  height: 100px;
  width: 100%;
  position: relative;

}

footer{

background-color: #25FDE9;

width: 100%;

height: 350px;

position: relative;
 
}

